
.key {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 16px;
}

.obj-list {
  background-color: #f9f9f9;
  padding-top: 16px;
  padding-bottom: 16px;
}

.obj-list .key {
  padding-left: 16px;
}

.obj-list .object {
  border-bottom: 2px solid black;
}

.obj-list ul .obj-list {
  padding-left: 32px;
  background-color: white;
  border-bottom: none;
}

.description-container {
  height: 500px;
}
